<%- include header.ejs %>

  <h1>New Contact</h1>

  <form method="post" action="/contacts" id='new-contact-form' class="new-contact-form">
    <pre class="new-contact-form-errors"></pre>
    <label>
      <span>First name:</span>
      <input type="text" name="first_name" id='fname' />
    </label>
    <label>
      <span>Last name:</span>
      <input type="text" name="last_name" id='lname' />
    </label>
    <input type="submit" value="Add Contact">
  </form>

<%- include footer.ejs %>
